[Unit]
Description=WiFi Scanner Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Wifi Heatmap/wifi-collector
ExecStart=/usr/bin/python3 /home/pi/Wifi Heatmap/wifi-collector/scanner.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
